/* RESET AND ROOT */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-body: #e3e1e1;
    --bg-dark: #010137;
    --bg-light: #fefefe;
    --color-light: #fefefe;
    --color-dark: #0a0a0a;
    --color-r: #fa4b2c;
    --color-b: #047cfc;
}

/* GENERAL STYLES */
body {
    align-items: center;
    background-color: var(--bg-body);
    color: var(--color-dark);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    min-height: 100vh;
}

button {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    outline: none;
    padding: 1rem;
    transition: all ease .2s;
}

button:hover {
    opacity: .75;
}

input {
    background: transparent;
    border: none;
    color: inherit;
    outline: none;
    text-align: right;
}

/* CALCULATOR */
.wrapper {
    background-color: var(--bg-light);
    border-radius: 1em;
    box-shadow: 0 1px 3px var(--bg-dark);
    color: var(--color-dark);
    max-width: 500px;
    position: relative;
}

.display-section {
    padding: 1rem;
    background-color: var(--color-light);
    border-radius: 1em 1em 0 0;
    font-weight: bold;
}

.display-section small {
    font-size: .95rem;
    display: block;
    text-align: center;
}

.display-section--output {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: right;
}

.previous-output {
    font-size: 1.3rem;
    opacity: .85;
}

.current-output {
    font-size: 2rem;
}

.keys-section {
    border-top: 2px solid var(--color-dark);
    margin-bottom: .5rem;
}

.keys-section--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.clear {
    color: var(--color-r);
}

.delete,
.operator {
    color: var(--color-b);
}

.equals {
    color: var(--color-r);
}

/* toggle button */
.toggle-btn {
    cursor: pointer;
    font-size: 1.5rem;
    right: 3%;
    position: absolute;
    top: 3%;
}

/* dark mode */
.dark {
    background-color: var(--bg-dark);
    color: var(--color-light);
}